.rating li.active
{
  background: $secondary-color;
  color: $navbar-link-color;
}

@media only screen and (max-width: 767px) {

  h1 {
    font: bold italic 100px georgia, times new roman, serif;
    -webkit-transition-duration: .5s;
  }

}

.ui-slider-track, .ui-slider-switch {
  margin: 0;
}

.timer {
  position: relative;
  font-size: 200px;
  width: 1em;
  height: 1em;
  padding: 4px 4px;

  .percent {
    position: absolute;
    top: 16px;
    width: 3.33em;
    font-size: 13px;
    text-align: cente
  }
  #slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.4em);
  }

  #slice.gt50 {
    clip:rect(auto, auto, auto, auto);
  }

  .pie {
    border: 0.1em solid $primary-color;
    position: absolute;
    width: 0.8em; /* 1 - (2 * border width) */
    height: 0.8em; /* 1 - (2 * border width) */
    clip: rect(0em, 0.4em, 1em, 0em);
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    border-radius: 0.5em;
  }

  .fill {
    -moz-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
  }
}

#slider-val input{display:none;}

.tippie-component{
  background: $navbar-link-color;
  border-bottom-left-radius: $medium-radius;
  border-bottom-right-radius: $medium-radius;
}

.tippie-header{
  background: $primary-color;
  border-top-left-radius: $medium-radius;
  border-top-right-radius: $medium-radius;

  p
  {
    font-size: $base-font-size;
    color: $navbar-link-color;
  }
}

.ui-text-centered
{
  text-align: center;
}

#tipListing
{
  p
  {
    text-align: center;
    font-size: $base-font-size;
  }
}